<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>Whimsical - Where Great Ideas Take Shape</title>
</head>

<body class="body-home" id="mobile-body">
  <header class="nav-container" id="mobile-nav-container">
    <a href="#">
      <img class="whimsical-logo" id="mobile-whimsical-logo"
        src="https://global-uploads.webflow.com/5d9d02c4b01a536c7d5d4a35/5d9f669141d3077765d2af5b_whimsical-logo-on-color%402x.png"
        alt="Logo Whimsical" />
    </a>
    <div class="login" id="mobile-login">

      <div class="user"></div>
      <a href="" class="sair">Sair</a>
      <div class="avatar"></div>
      <a href="" class="pricing">PRICING</a>
      <div class="divider"></div>
      <a href="" class="signInBtn">SIGN IN</a>
      <a href="" class="signUpBtn">SIGN UP</a>
    </div>
  </header>
  <section class="search-container">
  </section>
  <form class="sPub" enctype="multipart/form-data">
    <input class='titlePub' placeholder="Titulo" required/>
    <button type="submit" class="btnPub">Publicar</button>
    <input class= 'contentPub' placeholder="Conteudo"/>
    <input type='file' name="imagem" accept="image/*" class='midiaPub'/>
    <img class="simg">
  </form>
  <form class="rPub">
      <input class='searchPub' placeholder="Buscar por publicações" required/>
      <button type="submit" class="btnBusPub">Buscar</button>
  </form>
  <footer class="footer-container" id="footer">
    <div class="containerF" id="mobile-footer-container">
      <div class="blocosI">
        <div class="bloco1" id="mobile-bloco1">
          <ul>
            <li><a class="footer-link" href=""> Flowcharts</a></li>
            <li><a class="footer-link" href=""> Wireframes</a></li>
            <li><a class="footer-link" href=""> Mind Maps</a></li>
            <li><a class="footer-link" href=""> Sticky Notes</a></li>
            <li><a class="footer-link" href=""> Docs</a></li>
          </ul>
        </div>

        <div class="bloco2" id="mobile-bloco2">
          <ul>
            <li><a class="footer-link" href=""> Pricing </a></li>
            <li><a class="footer-link" href=""> Customers</a></li>
            <li><a class="footer-link" href=""> Blog</a></li>
            <li><a class="footer-link" href=""> Community</a></li>
            <li><a class="footer-link" href=""> Help</a></li>
            <li><a class="footer-link" href=""> Careers</a></li>
          </ul>
        </div>
      </div>

      <div class="blocosF" id="mobile-blocosF">
        <div class="footer-s-icons">
          <a href="" class="social-icon">
            <div class="twitter"></div>
          </a>
          <a href="" class="social-icon">
            <div class="linkedin"></div>
          </a>
          <a href="" class="social-icon">
            <div class="email"></div>
          </a>
        </div>

        <div class="secondary-links">
          <a href="" class="secondary-link">Status</a>
          <a href="" class="secondary-link">Security</a>
          <a href="" class="secondary-link">Terms</a>
          <a href="" class="secondary-link">Privacy</a>
        </div>

        <div class="diretrizes">
          <div class="text-block">© 2021 Whimsical Inc.</div>
        </div>
      </div>
    </div>
  </footer>
  <script src="home.js"></script>

</body>

</html>